= javascript_include_tag :defaults
= javascript_include_tag "1"
-# = javascript_include_tag "1-refactor"
-# = javascript_include_tag "02-click"
-# = javascript_include_tag "03-click-refactor"
-# = javascript_include_tag "03-click-refactor-take-2"
-# = javascript_include_tag "03-click-refactor-take-2-alpha-3"
